.featured img {
    max-width: 100%;
    border: black solid 5px;
}

.featured {
	text-align: center;
}

.container {
	max-width: 1000px;
}
/*448px hide logo*/
@media (max-width: 448px) {
	.logo {
		display: none;
	}
	hr {
		border: none;
		height: 1px;
	}

	.name-title {
		text-align: left;
		width: 100% !important;
		background: url("../img/udacity.png") no-repeat bottom right;
	}

	.name {
		font-size: 46px;
	}

	.title {

	}
}

.roboto {
	font-family: roboto;
}

hr {
	border: none;
	height: 3px;
	background-color: #BCBBBB;
	color: #BCBBBB;
}

.orange-text {
	color: #F8981C;
}

.gray-text {
	color: #BCBBBB;
}

.dark-gray-text {
	color: #747704;
}